.carousel {
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
}

.imgContainer {
	position: relative;
	height: 800px;
}

.carouselImg {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	object-fit: cover;

	opacity: 0;
	transition: opacity 0.6s ease-in-out;
}

.active {
	opacity: 1;
	z-index: 1;
}

.inactive {
	opacity: 0;
	z-index: 0;
}

.carouselArrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: rgb(0, 0, 0, 0.4);
	transition: background-color 0.2s ease;
	color: var(--white);
	border: none;
	font-size: 2rem;
	padding: 0.5rem 0.75rem;
	cursor: pointer;
	z-index: 10;
}

.carouselArrow:hover {
	background-color: rgba(0, 0, 0, 0.65);
}

.carouselArrow.left {
	left: 10px;
}

.carouselArrow.right {
	right: 10px;
}

.dotsContainer {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-top: 10px;
}

.dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: none;
	background: var(--cream);
	cursor: pointer;
}

.dot.active {
	background: var(--plum);
}
