.main {
	background-image: linear-gradient(var(--white), var(--apricot));
	display: flex;
	align-items: center;
	justify-content: center;
}

.productContainer {
	max-width: 1650px;
	display: flex;
	align-items: flex-start;
	padding: 20px;
	gap: 20px;
	font-family: "Roboto", sans-serif;
}

.productImg {
	flex: 1 1 50%;
	max-width: 500px;
	height: auto;
	object-fit: contain;
}

.infoContainer {
	flex: 1 1 250px;
	min-width: min(250px, 100%);
	display: flex;
	flex-direction: column;
	gap: 12px;
	background-color: var(--white);
	height: auto;
	padding: 12px;
	border-radius: 10px;
	align-self: center;
}

.ratingContainer {
	display: flex;
	align-items: center;
	gap: 12px;
}

.priceCartControlsContainer {
	position: relative;
}

.price {
	font-family: "Roboto";
	font-weight: 500;
	font-size: 22px;
	position: absolute;
	padding: 20px 0 0 20px;
}

@media (max-width: 800px) {
	.productContainer {
		flex-direction: column;
		align-items: center;
	}

	.productImg {
		max-width: 100%;
	}
}
