.itemContainer {
	display: flex;
	flex-direction: column;
	gap: 8px;
	justify-content: space-between;
	align-items: flex-start;
	background-image: linear-gradient(var(--white), var(--apricot));
	width: 100%;
	max-width: 320px;
	padding: 20px 12px 30px;
	border-radius: 6px;
	border-right: 4px solid var(--violet);
	border-bottom: 4px solid var(--onyx);
	border-top: 4px solid var(--peach);
	border-left: 4px solid var(--rose);
	font-family: "Roboto", sans-serif;
}

.itemContainer a {
	text-decoration: none;
	color: var(--onyx);
}

.topContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 4px;
	align-items: flex-start;
}

.topContainer h3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.itemImg {
	height: 200px;
	aspect-ratio: 1;
	padding: 12px;
	align-self: center;
}

.ratingContainer {
	display: flex;
	align-items: center;
	gap: 12px;
	padding-left: 10px;
}

.priceCartControlsContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	position: relative;
}

.price {
	font-family: "Roboto";
	font-weight: 500;
	font-size: 22px;
	position: absolute;
	padding-left: 10px;
}
