*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
#root,
#__next {
	isolation: isolate;
}
:root {
	--white: #faf5f0;
	--cream: #fae8d7;
	--apricot: #f9dbbd;
	--peach: #ffa5ab;
	--rose: #da627d;
	--berry: #a53860;
	--plum: #450920;
	--violet: #2d101b;
	--coffee: #1a0f13;
	--onyx: #0b090a;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}
